/* You can add global styles to this file, and also import other style files */
/* Master Styles */
@import './variables';

body {
  margin: 2em;
}

button {
  font-family: Arial;
  font-size: $font-medium;
  height: $button-height;
  background-color: transparent;
  border: none;
  appearance: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  cursor: hand;
}

button:disabled {
  background-color: #eee;
  color: #aaa;
  cursor: auto;
}

textarea:focus, input:focus{
  outline: none;
}

select {
  height: $button-height;
  font-size: $font-medium;
  outline: none;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: baseline;

  .action {
    color: white;
    background-color: $blue;
  }
}

button {
  position: relative;

  .export {
    height: 33px;
    position: absolute;
    top: 9px;
  }
}


.arrow {
  height: 9px;

  &.right {
    transform: rotate(-90deg);

  }

  &.left {
    transform: rotate(90deg);
  }

  &.up {
    transform: rotate(180deg);
  }
}

.expand-clickable {
  position: relative;
  cursor: pointer;

  &:before {
    position:absolute;
    content:'';
    top:-10px;
    right:-35px;
    left:-5px;
    bottom:-10px;
  }
}
