<div class="limits">
  <span class="label">
      Items per page:
    </span>
    <span class="dropdown">
      <select (change)="changeLimit($event.target.value)">
        <option
          *ngFor="let limit of limits"
          [attr.value]="limit"
          [attr.selected]="limit === query.limit ? true : undefined">
            {{limit}}
        </option>
      </select>
    </span>      
</div>
<div class="navigation">
  <button
  (click)="paginate(query.page - 1)"
  [disabled]="query.page === 1"><img class="arrow left" src="assets/dropdown.png"></button>
  
  <span class="dropdown">
    <select (change)="paginate($event.target.value)">
      <option
        *ngFor="let page of pages"
        [attr.value]="page"
        [attr.selected]="page === query.page ? true : undefined">
          {{page}}
      </option>
    </select>
  </span>
  <button
    (click)="paginate(query.page + 1)"
    [disabled]="query.page === this.pages.length"><img class="arrow right" src="assets/dropdown.png"></button>
</div>